/* ***** card section Start ***** */

.class-name {
  font-size: 13px;
}

.card-tools {
  display: flex;
  align-items: center;
  gap: 15px;
}

.card-tools button {
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
  color: #ffffff;
  display: flex;
}

/* card subtitle */
.card.sub_title_box h6 {
  color: #2a2a4a;
}

.card.sub_title_box label {
  font-size: 14px;
  color: #74829c;
}

.card.sub_title_box p {
  font-size: 14px;
  color: #282f53;
}

.card.sub_title_box .card-links a {
  color: #0093ed;
  font-size: 12px;
  text-decoration: none;
}

.card.sub_title_box .card-links a:hover {
  text-decoration: underline;
}

/* card subtitle */

/* card header */
.card.card_header_box h6 {
  color: #2a2a4a;
}

.card.card_header_box .card-header {
  background-color: transparent;
}

.card.card_header_box p {
  font-size: 14px;
  color: #282f53;
}

.card.card_header_box button {
  font-size: 14px;
  background-color: #0092ed0a;
  border: 1px solid #0093ed;
  color: #0093ed;
}

.card.card_header_box button:hover {
  background-color: #0093ed;
  color: #fff;
}

/* card header */

/* card footer */
.card.card_footer_box p {
  font-size: 14px;
  color: #282f53;
}

.card.card_footer_box button {
  font-size: 14px;
  background-color: #0092ed0a;
  border: 1px solid #0093ed;
  color: #0093ed;
}

.card.card_footer_box button:hover {
  background-color: #0093ed;
  color: #fff;
}

.card.card_footer_box .card-footer {
  background-color: transparent;
}

.card.card_footer_box .card-footer p {
  color: gray;
}

/* card footer */

/* card contact */
.card.card_contact_box .card-footer {
  background-color: transparent;
}

.card.card_contact_box .card-header {
  background-color: #0093ed;
}

.card.card_contact_box .card-header h6 {
  color: #fff;
}

.card.card_contact_box p {
  font-size: 14px;
  color: #282f53b7;
}

.card.card_contact_box .card-social-links button {
  background-color: #0092ed0a;
  border: 1px solid #0093ed;
  color: #0093ed;
  width: 35px;
  height: 35px;
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;
}

.card.card_contact_box .card-social-links button:hover {
  color: #fff;
  background-color: #0093ed;
}

.card.card_contact_box .contact-card-box img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.card.card_contact_box .card-tools .card-toggle {
  transition: 0.3s;
}

.card.card_contact_box .card-tools .card-toggle.collapsed {
  transform: rotate(180deg);
}

.card_contact_danger_box .card-social-links button {
  background-color: #dc354610 !important;
  border: 1px solid #dc3545 !important;
  color: #dc3545 !important;
}

.card_contact_danger_box .card-social-links button:hover {
  color: #fff !important;
  background-color: #dc3545 !important;
}

.card_contact_info_box .card-social-links button {
  background-color: #0dcaf00d !important;
  border: 1px solid #0dcaf0 !important;
  color: #0dcaf0 !important;
}

.card_contact_info_box .card-social-links button:hover {
  color: #fff !important;
  background-color: #0dcaf0 !important;
}

.card_contact_success_box .card-social-links button {
  background-color: #1987540d !important;
  border: 1px solid #198754 !important;
  color: #198754 !important;
}

.card_contact_success_box .card-social-links button:hover {
  color: #fff !important;
  background-color: #198754 !important;
}

/* card contact */

/* Primary card */
.card.primary-card h6,
.card.info-card h6,
.card.success-card h6,
.card.warning-card h6,
.card.secondary-card h6,
.card.danger-card h6 {
  font-size: 16px;
}

.card.primary-card p,
.card.info-card p,
.card.success-card p,
.card.warning-card p,
.card.secondary-card p,
.card.danger-card p {
  font-size: 14px;
}
/* Primary card */

/* Panel with custom buttons */
.card.card_panel_with_button h6 {
  color: #2a2a4a;
  text-transform: capitalize;
}

.card.card_panel_with_button .card-header {
  background-color: transparent;
}

.card.card_panel_with_button p {
  font-size: 14px;
  color: #282f53;
}

.card.card_panel_with_button button {
  font-size: 13px;
  background-color: #0093ed;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 12px;
}

.card.card_panel_with_button button:hover {
  background-color: #1681c4;
}

/* Panel with custom buttons */

/* search card */
.card.card_search h6 {
  color: #2a2a4a;
  text-transform: capitalize;
}

.card.card_search .card-header {
  background-color: transparent;
}

.card.card_search p {
  font-size: 14px;
  color: #282f53;
}

.card.card_search input{
    border: 1px solid #0093ed;
    border-radius: 5px;
    padding: 5px 15px;
    outline: none;
    font-size: 14px;
}

/* search card */

/* ***** card section End ***** */
